@import url('https://fonts.googleapis.com/css2?family=Farro:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'tailwindcss';
:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme {
  --font-poppins: Poppins;
  --font-crimson: 'Crimson Text';
  --font-sans: 'Open Sans';
  --color-brue: blue;
}

.farro {
  font-family: 'Farro', sans-serif;
  font-style: normal;
}
.center {
  align-items: center;
  justify-content: space-between;
}
.poppins {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.sans {
  font-family: 'Open Sans';
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.backgroundStripes {
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 2px,
    #cacaca 2px,
    #f3f4f6 4px
  );
}

@theme {
  --animate-bubble: bubble 0.5s ease-in;

  @keyframes bubble {
    /* from {
      scale: 1.3;
    }
    to {
      scale: 1;
    } */
    0% {
      scale: 1.4;
    }
    50% {
      scale: 1;
    }
    100 {
      scale: 1.2;
    }
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes loading {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Custom slider styles */
.slider-thumb::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #5a88a7;
  cursor: grabbing;
  border: 2px solid #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.slider-thumb::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #5a88a7;
  cursor: grabbing;
  border: 2px solid #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.slider-thumb::-webkit-slider-track {
  background: #e5e7eb;
  height: 8px;
  border-radius: 4px;
}

.slider-thumb::-moz-range-track {
  background: #e5e7eb;
  height: 8px;
  border-radius: 4px;
}
/* autofill fix */
input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
  border-radius: 100%;
}
